# ROS 2 ignore
build/
install/
log/
ros2_ws/src/crazyswarm2/
ros2_ws/src/motion_capture_tracking/
ros2_ws/cache/
ros2_ws/.venv/

# Python
__pycache__/
*.pyc
*.pyc
*.egg-info/
.pytest_cache/

# Colcon
COLCON_IGNORE

# IDEs & OS
.vscode/
.idea/
.DS_Store